/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --navcolor:rgb(0, 0, 0);
}
nav {
  height: 103px;
  width: 100%;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 100px;
  background-color: var(--navcolor);
}
.logo{
    grid-row:1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
}
.logo img{
    width: 98%;
    height: 98%;
    justify-self: center;
    align-self: center;
}
nav ul{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 38px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
:root {
  --mainbg: rgb(0, 0, 0);
  --sectionbg: #121212;
  --secbordercolor: rgb(85, 85, 85);
}
body {
  background-color: var(--mainbg);
  padding: 15px;
}
.container {
  display: grid;
  width: 98.8vw;
  height: 96.5vh;
  grid-template-columns: 23% 76%;
  grid-template-rows: 21% 70% 9%;
  gap: 10px;
}
.section1 {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secbordercolor);
  border-radius: 10px;
  background-color: var(--sectionbg);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 50px 90px;
  padding: 20px 0 0 20px;
}
.icon1 {
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.icon1 svg {
  width: 100%;
  height: 100%;
  fill: white;
}
.ihome svg {
  grid-row: 2/3;
  grid-column: 1/2;
  fill: white;
  width: 60%;
  height: 50%;
  margin:15px 10px 10px 10px;
}
.icon2_A {
  grid-row: 2/3;
  grid-column: 2/3;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 90%;
  margin: 20px 20px 20px 4px;
}
.icon3 svg{
  grid-row: 3/4;
  grid-column: 1/2;
  width: 60%;
  height: 50%;
  fill: white;
  margin:0 10px 10px 10px;
}
.icon3_A{
  grid-row: 3/4;
  grid-column: 2/3;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 90%;
  margin: 0 20px 20px 4px;
}


/* ====================Section2======================= */

.section2 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--sectionbg);
  width: 100%;
  height: 100%;
  border: 1px solid var(--secbordercolor);
  border-radius: 10px;
}


/* =====================Section3======================= */

.section3{
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: var(--sectionbg);
  width: 100%;
  height: 100%;
  border: 1px solid var(--secbordercolor);
  border-radius: 10px;
}